<% if flash[:notice] %>
<div class="alert alert-success m-0 border border-0" role="alert">
  <%= flash.now[:notice]%>
</div>
<% end %>
<% if flash[:alert]%>
<div class="alert alert-danger m-0 border border-0" role="alert">
  <%= flash.now[:alert]%>
</div>
<%end%>